* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --small-text: 0.85rem;
  --extra-small-text: 0.7em;
}

body {
  background: rgb(238, 238, 238);
  /* color: rgb(194, 194, 194); */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.8;
}


.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 0;
}

.container {
  width: 90vw;
  max-width: 1120px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  color: white;
  background: rgb(83, 159, 247);
  border: transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0.25rem;
  padding: 0.25rem 0.55rem;
  transition: 0.3s ease-in-out;
  display: inline-block;
}

.btn:hover {
  background: rgb(24, 163, 163) ;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.form {
  width: 90vw;
  max-width: 500px;
  background: gray;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background: gray;
  border: 1px solid var rgb(99, 99, 99);
  color: black;
}

.form-input,
.form-select,
.form-btn {
  height: 35px;
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

.form-alert {
  color: rgb(82, 17, 17);
}
