* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --small-text: 0.85rem;
  --extra-small-text: 0.7em;
}

body {
  background: rgb(238, 238, 238);
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  line-height: 1.8;
}


.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
  font-weight: 700;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.container {
  width: 90vw;
  max-width: 1120px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
