* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --small-text: 0.85rem;
  --extra-small-text: 0.7em;
}

body {
  background: rgb(238, 238, 238);
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
}


.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
  font-weight: 700;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.container {
  width: 90vw;
  max-width: 1120px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}


.btn {
  cursor: pointer;
  color: white;
  background: black;
  border: transparent;
  border-radius: 0.25rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  display: inline-block;
}

.btn:hover {
  background: gray;
}

.btn-block {
  width: 100%;
}

.form {
  width: 90vw;
  max-width: 600px;
  background: gray;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.75rem;
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.4rem 0.75rem;
  border-radius: 0.25rem;
  background: papayawhip;
  border: 1px solid grey;
  height: 30px
}

.form-row {
  margin-bottom: 1rem;
}